body{
  font-family: 'Lato', sans-serif;
  margin: auto;
  background-color: black;
  color: #00C853;
}
img{
width:350px;  
}
#entireHeader {
  width: 100%; 
  background-color: black;
  bottom: 15px;
  position: relative;
}

#allContent {
  width: 80%;
  margin: auto;
  font-size: 20px;
}

#profile {
  width: 300px;
  position: relative;
  float: right;
  bottom: 200px;
  border-radius: 15px;
  margin: 20px;
}

#intro-block {
  color: #00C853;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10%;
}

#intro-block h2 {
  font-size: 28px;
}

#profile:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.info {
  margin-top: 10px;
  font-size: 20px;
  display: inline-block;
}



.navbar-nav, .navbar {
  background-color: black;
}

.nav-link {
  color: #00C853;
}





a {
  color: black;
  text-decoration: none;
}




footer{
  margin-top: 50px;
  width: 80%;
  margin: auto;
}

#footer-block {
  margin: 0px auto;
  text-align: center;
  color: #00C853;
  font-size: 15px;
  
}



.overallScreen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #dbdbdb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}


.nav-item, .nav-link {
  margin-left: 40px;
}







.dropbtn {
  background-color: gray;
  color: #00C853;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: gray;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: #00C853;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}